container-fluid {
  display: flex;
  justify-content: center;
}

/* Search Div */

#searchbar {
  margin: auto;
  width: 40%;
}

#recipesearch {
  width: 89%;
  margin: auto;
}

btn {
  margin: auto;
}

/* Results Div */

#searchresults {
  padding: 3%;
}

a {
  color: orangered;
}

a:hover {
  color: orangered;
}

.card {
  text-align: center;
  border: 1px solid orangered;
  border-radius: 10px;
  margin-bottom: 5%;
  height: 95%;
}

.card-img {
  max-width: 80%;
  max-height: 80%;
  margin-bottom: 5%;
}

#searcharrows {
  margin: auto;
  width: 4.5%;
}
